:root { 
    /* COLORS  */
    --cornsilk: hsla(52, 94%, 94%, 1);
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    min-height: 100vh;
    background-color: var(--cornsilk);
    font-size: 1rem;
    flex-direction: column;
    overflow: hidden;
}

.container {
    position: relative;
}

#canvas {
    z-index: 1;
}

.arrow {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
    z-index: 999;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 40px solid #f00;
}

button {
    height: 70px;
    aspect-ratio: 1;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid black;
    border-radius: 100%;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}
